composer.lock export-ignore
docker-compose.yml export-ignore
README.md export-ignore
pint.json export-ignore
/tests export-ignore
phpunit.xml export-ignore
/bootstrap export-ignore
/.github export-ignore